body {
  background-color: #333;
  font-family: sans-serif;
}

.centered {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: lightgray;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 0.2rem;
}

h2 {
  color: #555;
  margin-top: 0px;
  margin-bottom: 0.2rem;
}

p {
  font-size: 12px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.tooltip {
  position: absolute;
  text-align: left;
  padding: 0.5em;
  font-size: 12px;
  font-family: sans-serif;
  background: lightgray;
  color: black;
  border: 0px;
  border-radius: 1px;
  pointer-events: none;
}
